*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
 }

html, body{
  background: #fff;
  background-image: url('../images/brillant.png');
  margin: 0 auto;
  height: 100%;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}
h1{
  font-size: 2em;
  font-weight: 400;
}
h2{
  text-align: center;
  font-weight: 100;
  font-size: 1.3em;
}
.options{
  width: 102px;
  height: 34px;
  background-color: #bababa;
  position: absolute;
  right: 0px;
  bottom: -34px;
}
.options .print, .options .save, .options .send{
  width: 33%;
  height: 100%;
  display: inline-block;
  float:left;
}
.options .print:hover, .options .save:hover, .options .send:hover{
  background-color: #333333;
    -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  cursor: pointer;
}
.options .print{
  background: url('../images/iconmonstr-printer-icon-24.png') no-repeat;
  background-position:center; 
  border-right: 1px solid #fff;
}
.options .save{
  background: url('../images/iconmonstr-save-icon-24.png') no-repeat;
  background-position:center; 
  border-right: 1px solid #fff;
}
.options .send{
  background: url('../images/iconmonstr-email-3-icon-24.png') no-repeat;
  background-position:center; 
}
.cal-container{
  width: 70%;
  max-width: 58em;
  height:auto;
  margin: 0 auto;
  border: 1px solid #cacaca;
  background: #fff;
  position: relative;
}
.cal-container:after{
  content:"";
  clear:both;
  display:block;
}
.cal-container .arrow-left,.cal-container .arrow-right{
  width:50px;
  height: 100%;
  position: absolute;
    -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}
.cal-container .arrow-left{
  left:-60px; 
  background-image: url('../images/iconmonstr-arrow-blue-left.png');
  background-position: center;
  background-repeat: no-repeat;
}
.cal-container .arrow-right{
  right:-60px;
   background-image: url('../images/iconmonstr-arrow-blue-right.png');
  background-position: center;
  background-repeat: no-repeat;

}
.cal-container .arrow-left:hover{
  background-image: url('../images/iconmonstr-arrow-darker-blue-left.png');
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  cursor: pointer;
}
.cal-container .arrow-right:hover{
  background-image: url('../images/iconmonstr-arrow-darker-blue-right.png');
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  cursor: pointer;
}

.cal-container h1{
  position: absolute;
  top: -2em;
}
.data, .pie-chart, .bar-chart{
  display: inline-block;
  padding: 2em;
  margin: 0;
}
.data{
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;

}
.data form{
  float: left;
}
.data .risks {
  float:right;
  max-width: 290px;
}

.risks .your-risk, .risks .cal-risk{
  width:100px;
  height: 1.2em;
  border: 1px solid #cacaca;
  float: right;
}
.your-risk .your-risk-color{
  height: 100%;
  width: 50px;
  background: #3FA6AF;
}
.cal-risk .cal-risk-color{
  height:100%;
  width:60px;
  background: #99E04F;
}
.risks p{
  float:left;
  line-height: 1em;
  margin-top: 0px;
}
@media only screen and (max-width: 1270px) {
  .data form{
    float: none;
  }
  .data .risks{
    display: block;
    float: left;
  }
  .risks p{
    float: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .risks .your-risk, .risks .cal-risk{
    float: none;
  }

}
.pie-chart, .bar-chart{
  width: 50%;
  float: left;
  min-height: 350px;
  min-width: 390px;
  margin: 0 auto;
  position: relative;
}


#pie-descr-1{
  position: absolute;
  width: 80%;
  height:350px;
  top: 0;
}
p#grey{
  color: #fff;
  font-size:1.2em;
  margin-left: 90px;
  margin-top: 10px;
  width: 100px;
}
p#light-blue{
  margin-left: 225px;
  margin-top: 100px;
  color: #fff;
  font-size:1.2em;
  width: 100px;
}
p#blue{
  margin-left: 220px;
  margin-top: 10px;
  color: #fff;
  font-size:1.2em;
  width: 100px;
}
p#grey-3{
  color: #fff;
  font-size:1.2em;
  margin-left: 110px;
  margin-top: 130px;
  width: 100px;
}
p#blue-3{
  margin-left: 225px;
  margin-top: 40px;
  color: #fff;
  font-size:1.2em;
  width: 100px;
}
#pie-chart-1{
  display: block;
  margin: auto;
}


input{
  min-width: 200px;
  height: 1.5em;
  resize: none;
  border: 1px solid #cacaca;
  font-size: 1em;
  padding: 3px 5px;
}
input:focus{
  outline: 2px solid #3996CF;
}
.bar-chart{
  margin-top: 0px;
  padding: 2em 5px;
}

.bar-chart img{
  width: 100%;
  display:block;
  margin: auto;
}
.bar-chart-2 img{
  padding-top: 5px;
}

.bar-chart-1, .bar-chart-2, .bar-chart-3{
  width: 100px;
  height: 300px;
  border-bottom:6px solid #cacaca;
  display: inline-block;
  margin: 0px 15px;
  padding: 5px;
  float:left;
}
.bar-chart .bar-chart-1:hover{
  border-bottom:6px solid #A8D2EC;
  

  -webkit-transition: border 100ms linear 60ms;
    -moz-transition: border 100ms linear 60ms;
    -o-transition: border 100ms linear 60ms;
    transition: border 100ms linear 60ms;

}
.bar-chart-1.selected, .bar-chart-2.selected, .bar-chart-3.selected{
 border-bottom:6px solid #3996CF;
 color: #276992; 

}

.bar-chart .bar-chart-2:hover{
  border-bottom:6px solid #A8D2EC;
   -webkit-transition: border 0ms linear 100ms;
    -moz-transition: border 0ms linear 100ms;
    -o-transition: border 0ms linear 100ms;
    transition: border 0ms linear 100ms;

}
.bar-chart .bar-chart-3:hover{
  border-bottom:6px solid #A8D2EC;
   -webkit-transition: border 100ms linear 100ms;
    -moz-transition: border 100ms linear 100ms;
    -o-transition: border 100ms linear 100ms;
    transition: border 100ms linear 100ms;
}
.bar-chart a {
  color: #3996CF;
  text-decoration: none;
  }

.bar-chart a:hover h2{
  color: #276992;  
}
.bar-chart-1 .bar, .bar-chart-2 .bar, .bar-chart-3 .bar{
  width: 80%;
  display:block;
  margin: auto;
  height: 140px;
  position: relative;
}
.bar .bank-logo{
  position: absolute;
  width: 40px;
  height: 100%;
  left: -40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.bar-chart-1 .bank-logo{
  background-image: url('../images/generali.jpg');
}
.bar-chart-2 .bank-logo{
  background-image: url('../images/reiffeisen.jpg');
}
.bar-chart-3 .bank-logo{
  background-image: url('../images/swisslife.jpg');
}


.bar-chart-1 .frm5j{
  background: #ABC3D2;
  height: 45%;
}

.bar-chart-1 .frm3j{
  background: #2487A8;
  height: 35%;
}
.bar-chart-1 .libor3m{
  background: #59CFE8 ;
  height: 20%;
}
.bar-chart-2 .libor3m{
  background: #59CFE8 ;
  height: 80%;
}
.bar-chart-2 .equalization{
  background: #fff ;
  height: 20%;
}
.bar-chart-3 .frm5j{
  background: #ABC3D2;
  height: 30%;
}

.bar-chart-3 .frm3j{
  background: #2487A8;
  height: 70%;
}
.pie-chart-options{
  width: 132px;
  height: 34px;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;

}
.pie-chart-options .plus, .pie-chart-options .settings, .pie-chart-options .minus{
  width: 33%;
  height: 100%;
  display: inline-block;
  float:left;
}
.pie-chart-options .plus:hover, .pie-chart-options .settings:hover, .pie-chart-options .minus:hover{
    -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  cursor: pointer;
}
.pie-chart-options .plus{
  background-image: url('../images/iconmonstr-plus-blue.png');
  background-position:center; 
  background-repeat: no-repeat;
  
}
.pie-chart-options .settings{
  background-image: url('../images/iconmonstr-wrench-blue.png') ;
  background-position:center; 
  background-repeat: no-repeat;
 
}
.pie-chart-options .minus{
  background-image: url('../images/iconmonstr-minus-blue.png');
  background-position:center; 
  background-repeat: no-repeat;
}
.pie-chart-options .plus:hover{
  background-image: url('../images/iconmonstr-plus-darker-blue.png');
}
.pie-chart-options .settings:hover{
  background-image: url('../images/iconmonstr-wrench-darker-blue.png');
}
.pie-chart-options .minus:hover{
  background-image: url('../images/iconmonstr-minus-darker-blue.png');
}
@media only screen and (max-width: 1270px) {
  .cal-container{
    max-width: 40em;
  }
  .pie-chart{
    clear: left;
    width: 100% ;
    display: block;
    margin: auto;
  }
  #pie-descr-1{
    position: absolute;
    left: calc(50% - 195px);
  }
  .bar-chart-1, .bar-chart-2, .bar-chart-3{
    width: 120px;
  }

  .bar-chart{
    display: table;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    width: auto;
  }
}
